/target
/.idea
/mantis2jira.iml
/bin
/apache-maven-3.6.1
.settings
.project
.classpath
/usersStats.txt
/users.properties*
/config.properties*
/refExport.csv
/mantisExport.csv
/dependency-reduced-pom.xml
*.tgz
*.zip
*.pdf
PROD
