
# Other
/bin
.settings
.project
.classpath
PROD
*.tgz
*.zip
*.pdf

# IDE
/.idea
/mantis2jira.iml

# Maven
/dependency-reduced-pom.xml
/target

# Generated
/mantisExport.csv
/refExport.csv
/usersStats.txt
/users.properties*
/config.properties*
!/config.properties.sample